{%extends "layout.html"%}

{%block content%}
            
        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>CONEJOS</h2>
                        <p>tienen patas de aproximadamente de un metro, miden 80 centímetros 
                            de la trompa a la cola y pesan hasta 10 kilos. -Los que viven en 
                            libertad lo hacen en madrigueras junto a sus familiares. Allí se 
                            sienten seguros de sus depredadores. Por este motivo los conejos 
                            domésticos les gusta tanto cavar túneles.
                        </p>
                    </article>
                    <article>
                    <h2>Cuidados de los conejos:  </h2>
                        <br>
                        <p>Necesitan tener agua (en botella con chupete o bowl) y heno fresco 
                            siempre a su disposición, suelen consumir entre 60-120 ml de agua 
                            y más de 150 g de heno diario. Se debe suplementar su comida con 
                            aproximadamente 100 g de verduras y 30 g de pienso comercial de 
                            buena calidad por kilogramo de peso.
                        </p>
                    
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Importante:</h3>
            <p> Se debe mantener una limpieza constante, ya que su olor llega a ser muy fuerte
                <br>
                Tenga cuidado con su corazon, pues de un susto pueden morirse.  
            </p>    
        </aside>
        <div>
            <img src="../static/imagenes/c1.jpg">
            <img src="../static/imagenes/c2.jpg">
            <img src="../static/imagenes/c3.jpg">
            <img src="../static/imagenes/c4.jpeg">
        </div>

{%endblock%}