{%extends "layout.html"%}

{%block content%}
            
        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>GATOS</h2>
                        <p>Tienen una flexibilidad y agilidad impresionante, pueden saltar desde 
                            más de 3 metros de altura. Los gatos pueden rotar sus orejas 180 grados. 
                            Los gatos pueden pasar hasta 14 horas dormidos. De igual manera llegan a 
                            ser un poco torpes al momento en estar jugando.
                        </p>
                    </article>
                    <article>
                    <h2>Cuidados de un gato:  </h2>
                        <br>
                        <ul>
                            <li>Alimentación: Siempre de calidad y adaptada a sus etapas de vida.</li>
                            <li>Agua: Limpia, en abundancia e idealmente servida en bebederos de acero inoxidable o aluminio.</li>
                            <li>Mantenimiento óptimo del arenero.</li>
                            <li>Uñas y patas.</li>
                            <li>Ejercítalo mediante el juego.</li>
                            <li>El cepillado.</li>
                            <li>Visitas periódicas al veterinario.</li>
                        </ul>
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Avisos:</h3>
            <p> !Cuidado con los gatos¡
                <br>
                Si no lo sabe criar se creera su dueño y lo llegara a rasguñar.
            </p>    
        </aside>
        <br>
        <div>
            <img src="../static/imagenes/g1.jpg">
            <img src="../static/imagenes/g2.jpg">
            <img src="../static/imagenes/g3.jpg">
            <img src="../static/imagenes/g4.jpeg">
        </div>

{%endblock%}      