{%extends "layout.html"%}

{%block content%}

        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>ADOPTA Y CUIDA</h2>
                        <p>Este es un sitio web donde podras encontrar animales
                            para adoptar y poder cuidarlos, tambien contamos con
                            servicios para el cuidado de la salud de tu mascota y 
                            compra de juguetes y comida para su entretenimiento.
                        </p>
                    </article>
                    <article>
                    <h2>Cuidemos a los animales  </h2>
                        <br>
                        <p>Apota a animales que buscan casa y cuidalos bien ya que 
                            tambien son seres vivos que necesitan el amor y cuidado 
                            de alguien, de igual forma si no puedes queddarte uno de 
                            ellos puedes contactarnos y les buscaremos un lindo hogar
                        </p>
                    
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Avisos:</h3>
            <p> Gracias por apoyarnos.
                <br>
                Esperamos contar con ustedes mas adelante.  
            </p>    
        </aside>
        <div>
            <video controls width="640" height="360">
                <source src="../static/videos/inicio.mp4" type="video/mp4">
                Tu navegador no admite la etiqueta de video.
            </video>
        </div>

{%endblock%}