
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="keywords" content="HTML5, CSS3">
        <title>Veterinaria</title>
        <link rel="stylesheet" href="../static/estilos.css">
        <link rel="shortcut icon" href="../static/imagenes/perro.png" type="image/x-icon">
    </head>
    <body CLASS="INDEX">
        <header>
            <p><b>PET FRIENDLY</b></p>
            <img src="../static/imagenes/tienda.png" width="200px">
        </header>
        <nav>
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/servicios">Nuestros Servicios</a></li>
                <li><a href="/nosotros">Acerca de nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/gatos">Gatos</a></li>
                <li><a href="/conejos">Conejos</a></li>
                <li><a href="/nutrias">Nutrias</a></li>
            </ul>
        </nav>
        
        {%block content%}
        {%endblock%}
<footer>
    <p>©2024.PetFriendly</p>
</footer>
  
</body>
</html>