{%extends "layout.html"%}

{%block content%}
            
        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>NOSOTROS:</h2>
                        <p>Somos una marca que busca el cuidado de tus animalitos en casa
                            y rescatados, contamos con diversos tratamientos y medicamentos 
                            para mantener la salud de estos pequeños seres vivos.
                        </p>
                    </article>
                    <article>
                    <h2>PLANES:</h2>
                        <p>Buscamos expandir nuestra marca a mas estados y que mas gente 
                            pueda unirse a nuestro proposito y no solo los animales que ve 
                            en la pagina se les pueda buscar un hogar, si no a diferentes 
                            especies, buscandoles o creandoles un refugio el cual puedan 
                            sentir como su hogar.
                        </p>
                    
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Avisos:</h3>
            <p> Gracias por apoyarnos.
                <br>
                Esperamos contar con ustedes mas adelante.  
            </p>       
        </aside>
        <div>
            <img src="../static/imagenes/us.jpeg">
        </div>

{%endblock%}