{%extends "layout.html"%}

{%block content%}

        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>NUTRIAS</h2>
                        <p>Las nutrias están diseñadas para ser súper nadadoras. 
                            Su cuerpo es aerodinámico, con una cola larga y fuerte 
                            que les ayuda a nadar rápidamente. También tienen patas 
                            cortitas y palmeadas, ideales para nadar y bucear en busca 
                            de comida.
                        </p>
                    </article>
                    <article>
                    <h2>Cuidados de las nutrias: </h2>
                        <br>
                        <p>Las nutrias son animales muy tímidos por lo que es difícil 
                            verlos en vida libre. Necesita vivir en lugares con vegetación
                            bien conservada donde pueda construir sus madrigueras para descansar; 
                            parir a sus crías y protegerse de los depredadores; además debe haber 
                            buena cantidad de alimento para ellas.
                        </p>
                    
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Avisos:</h3>
                Para poder adoptar una nutria debera cumplir con ciertos requisitos.
                <br>
                Contactenos si le gustaria saber mas.
            </p>    
        </aside>
        <div>
            <img src="../static/imagenes/n1.jpg">
            <img src="../static/imagenes/n2.jpg">
            <img src="../static/imagenes/n3.jpg">
            <img src="../static/imagenes/n4.jpeg">
        </div>
            
{%endblock%}    