{%extends "layout.html"%}

{%block content%}

        <section class="main" >   
            <section class="articles">
                    <article>
                        <h2>TE OFRECEMOS:</h2>
                        <p>Un excelente servicio con medicos, enfermeras y veterinarios 
                            para tu mascota, nos encargamos de wue los traten con el cariño 
                            y el cuidado que se debe. Ademas de que contamos con una guarderia
                            y un centro de adopcion.
                        </p>
                    </article>
                    <article>
                        <h2>HORARIOS</h2>
                        <br>
                        <p>Puedes acudir a nosotros de lunes a viernes de 9 am a 7 pm.
                            <br>En caso de una emergencia tienes nuestro numeros en el 
                            apartado de contacto al igual que la ubicacion en la que se 
                            encuentran nuestras sucursales.
                        </p>
                    
                    </article>
            </section>  
        </section> 
        <aside>
            <h3> Avisos:</h3>
            <p> Cada mes llegan articulos y alimentos nuevos para consentir a tu mascota.
            </p> 
        </aside>
        <div>
            <img src="../static/imagenes/service.jpeg">
        </div>

{%endblock%}